body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
}
.btn{
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.hidden{
    display: none;
}
.option{
    display: block;
    background: #eee;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    cursor: pointer;
}
.option:hover{
    background: #ddd;
}
#timer{
    font-weight: bold;
    color: #ff3b3b;
}
#result{
    color: #28a745;
    text-align: center;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}
.quiz-container{
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
     box-shadow: 0 0 15px rgba(0,0,0,0.3); 
     width: 400px;
     text-align: center;
}
#options{
    list-style: none;
    padding: 0;
}
#options li{
    margin: 10px 0;
    background-color: #d1cfcf;
    padding: 9px;
    border-radius: 10px;
}
#options li.selected{
background-color: #8bc34a; 
color: white;
}
#next-btn{
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #2196f3;
    color: white;
    border-radius: 5px;
    border: none; 
    cursor:pointer;
}
.hide{
    display: none;
}